<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <ul>
        <br/>Get Started<br/><br/>
        <li><%= link_to "About", pages_about_path %></li>
        <li><%= link_to "バイクシェアのメリット", pages_about_path %></li>
        <li><%= link_to "オーナーガイドライン", pages_owners_path %></li>
        <li><%= link_to "シェアガイドライン", pages_renters_path %></li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul>
        <br/>Policy<br/><br/>
        <li><%= link_to "保険について", pages_about_path %></li>
        <li><%= link_to "ご利用中のサポートについて", pages_about_path %></li>
        <li><%= link_to "キャンセルポリシー", pages_about_path %></li>
        <li><%= link_to "サービス範囲について", pages_about_path %></li>
      </ul>
    </div>

  </div>
</div>
