<br/><div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "あなたのバイク", motorbikes_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "予約確認", your_reservations_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "借りる日", your_trips_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
        <h3>出発予定</h3><hr/>

        <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-2">
              <%= trip.start_date.strftime('%x') %>
              <p><%= trip.status %></p>
            </div>
            <div class="col-md-2">
              <%= link_to motorbike_path(trip.motorbike) do %>
                <%= image_tag trip.motorbike.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-5">
              <%= link_to trip.motorbike.listing_name, motorbike_path(trip.motorbike) %><br/><br/>
              <span>
                <%= image_tag avatar_url(trip.motorbike.user), class: "img-circle avatar-small" %>
                <%= link_to user_path(trip.motorbike.user) do %>
                    <%= trip.motorbike.user.fullname %>
                <% end %>
              </span>
            </div>
            <div class="col-md-3 text-right">
              <%= render partial: "reviews/guest_form", locals: {reservation: trip} if trip.Approved? %>
            </div>


          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
